## AUTO-DETECT
* text=auto

## SOURCE CODE
*.html text
*.ini  text
*.json text
*.php  text
*.sh   text eol=lf
*.sql  text
*.ts   text
*.xml  text

## DOCKER
*.dockerignore text
Dockerfile     text

## DOCUMENTATION
*.md  text
*.txt text

## TEMPLATES
*.tpl  text
*.twig text

## LINTERS
.babelrc      text
.csslintrc    text
.eslintrc     text
.htmlhintrc   text
.jscsrc       text
.jshintrc     text
.jshintignore text
.prettierrc   text
.stylelintrc  text

## CONFIGS
.browserslistrc text
.editorconfig   text
.gitattributes  text
.gitconfig      text
.gitignore      text
.htaccess       text
*.npmignore     text
*.yaml          text
*.yml           text
browserslist    text

## GRAPHICS
*.avif binary
*.jpg  binary
*.pdf  binary
*.png  binary
*.svg  text
*.webp binary

## FONTS
*.ttf   binary
*.woff  binary
*.woff2 binary
