###> symfony/framework-bundle ###
# /.env.local
# /.env.local.php
# /.env.*.local
# /config/secrets/prod/prod.decrypt.private.php
# /public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
# /phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
# /phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
# /phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
###< symfony/webpack-encore-bundle ###

# ---

# Composer
composer.lock

# Dependencies
/node_modules
package-lock.json

# IDEs, editors
/.idea
.c9
.project
.settings

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Misc
/coverage
php_errorlog

# System files
*/*.lnk
*desktop.ini
.DS_Store
Thumbs.db
